{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'loading.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="main_container">
        <div class="banner">
            <img src="{% static 'img/nasi.gif' %}" alt="loading" style="width: 200px; height: 200px;">
            <p style="font-size: 40px;">분석중...</p>
        </div>
    </div>
    
    <script>
        $(document).ready(function(){
            setTimeout(function(){
                if (window.location == 'http://127.0.0.1:8000/face/upload') {
                    window.location.href = 'http://127.0.0.1:8000/face/result_page'}},10000)
        })
    </script>
</body>
</html>