@font-face {
    font-family: 'chosun';
    src: url('../static/font/ChosunCentennial_ttf.ttf');
}

* {
    font-family: 'chosun';
}

.main_container {
    width: 370px;
    height: 740px;
    margin: 0 auto;
    background-image: url('../static/img/back.png');
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner p{
   text-align: center;
   margin-top: 10px;
}

.category{
    background-color: white;
    height: 120px;
    width: 376px;
    margin-bottom: 60px;
}

.category .line1{
    margin: 0 auto;
    width: 360px;
    height: 104px;
    border: 2px solid black;
}

.category .line2 {
    width: 348px;
    height: 90px;
    margin: 0 auto;
    border: 5px solid black;
}

.category, .line1, .line2 {
    display: flex;
    justify-content: center; /* 수평으로 가운데 정렬 */
    align-items: center; /* 수직으로 가운데 정렬 */
}

.line2 p {
    text-align: left;
}

a:link {
    color : black;
    text-decoration: none;
  }

a:visited {
    color : black;
    text-decoration: none;
  }