@font-face {
    font-family: 'chosun';
    src: url('../static/font/ChosunCentennial_ttf.ttf');
}

* {
    font-family: 'chosun';
}

.main_container {
    width: 370px;
    height: 740px;
    background-image: url('../static/img/main.PNG');
    margin: 0 auto;
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner img {
    display : block;
    margin-top: 320px;
    margin-left: 130px;
}